
.site-button {
    border-radius: 6px;
}

/* SOLID */
.site-button.button-solid {
    background-color: #ffd700;
    color: #000000;
}

.site-button.button-solid:hover {
    background-color: #e6c200;
}

/* OUTLINE */
.site-button.button-outline {
    border-color: #ffd700;
    color: #ffd700;
    background: transparent;
}

.site-button.button-outline:hover {
    background-color: #e6c200;
    color: #000000;
}

/* GHOST */
.site-button.button-ghost {
    color: #000000;
    background: transparent;
}

.site-button.button-ghost:hover {
    color: #e6c200;
    text-decoration: underline;
}
