
.site-button {
    border-radius: 12px;
}

/* SOLID */
.site-button.button-solid {
    background-color: Red;
    color: Lime;
}

.site-button.button-solid:hover {
    background-color: Yellow;
}

/* OUTLINE */
.site-button.button-outline {
    border-color: Red;
    color: Red;
    background: transparent;
}

.site-button.button-outline:hover {
    background-color: Yellow;
    color: Lime;
}

/* GHOST */
.site-button.button-ghost {
    color: Lime;
    background: transparent;
}

.site-button.button-ghost:hover {
    color: Yellow;
    text-decoration: underline;
}
